<div>
  <div class="row">
    <div class="col-md-4 col-xs-4 col-md-offset-4 col-xs-offset-4">
      <img src="">
    </div>
  </div>

  <div class="row">
    <div>
      <%= form_for picture, url: url_link do |form| %>

      <p>
        <%= form.label :title %><br>
        <%= form.text_field :title %>
      </p>

      <p>
        <%= form.label :description %><br>
        <%= form.text_area :desc %>
      </p>
      <p>
        <%= form.label :public %><br>
        <%= form.check_box :is_public %><br>
      </p>
      <p>
        <%= form.submit %>
      </p>

      <% end %>
    </div>
  </div>
</div>